body {
  background-color: #bee9da;
  margin: 30px;
}

section {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
#main-container {
  display: flex;
  width: 300px;
}
#card-container {
  display: flex;
  flex-direction: column;

  height: 450px;
  width: 300px;
  border: 3px solid yellow;
  background-color: white;
  border-radius: 30px;
  align-items: center;
  -webkit-box-shadow: 10px 10px 15px 1px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 10px 10px 15px 1px rgba(0, 0, 0, 0.41);
  box-shadow: 10px 10px 15px 1px rgba(0, 0, 0, 0.41);
}
#info-details {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  font-size: medium;
}
#backbutton {
  height: 50px;
  width: 50px;
  background-image: url("./images/arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: 3px solid yellow;
  border-radius: 50px;
  position: absolute;
  left: 49%;
  top: 40%;
  margin-left: -157px;
  cursor: pointer;
}

#pokemon-name {
  padding: 20px;
  font-size: larger;
  font-weight: bold;
}

#info-details2 {
  display: flex;
  width: 200px;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  font-size: medium;
  text-align: justify;
}
#pokemonimg {
  width: 120px;
  height: auto;
}

.boldness-txt
 {
  font-weight: bold;
  content: "\2010";
}
#backbutton2 {
  height: 50px;
  width: 50px;
  border: none;
  padding-top: 30px;
  padding-left: -30px;
  border-radius: 50px;
  background-image: url("./images/pokemon ball.png");
  background-repeat: no-repeat;
  background-size: contain;
}
