body {
  background-color: #bee9da;
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
#main-container {
  width: 80vw;
  height: 90vh;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #45adaf9f;
  /* box-shadow: 10px 0px 10px 10px gray; */
  -webkit-box-shadow: 10px 10px 15px 1px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 10px 10px 15px 1px rgba(0, 0, 0, 0.41);
  box-shadow: 10px 10px 15px 1px rgba(0, 0, 0, 0.41);
}
#nav-list {
  margin: 0;
  padding: 0;
  font-weight: 900;
  color: white;
  display: flex;
  justify-content: space-between;
  gap: 730px;
}
#logo-img {
  height: 50px;
  width: 50px;
  padding-left: 15px;
  padding-top: 15px;
}
#nav-link {
  width: 300px;
  display: flex;
  justify-content: space-around;
}
ul {
  list-style: none;
  padding: 0px;
}
li {
  cursor: pointer;
}
#browse-button {
  height: 50px;
  width: 140px;
  border-radius: 25px;
  font-size: large;
  color: white;
  border: none;
  background-color: #bee9da;
  cursor: pointer;
}
#button-section {
  padding-top: 25px;
  display: flex;
  justify-content: center;
}
#main-img {
  padding-top: 0px;
  width: 80%;
}
